{% extends 'base.html' %}
	
{% block content %}
<h1>My Jobs</h1>
	<a href="{% url 'employer_job:job-add' %}">Add</a>

	{% for e in job %}
		<h2>title: {{ e.title }}</h2>
        <p>Description: {{ e.description }}</p>
        <small>Timestamp: {{ e.timestamp | date:"M d, Y" }} by {{ e.user | title}}</small>
		{% if request.user.is_authenticated and request.user == e.user %}
		<p>
			<a href="{% url 'employer_job:job-edit' e.id %}">Edit</a> 
			<a href="{% url 'employer_job:job-delete' e.id%}">Delete</a>
			<a href="{% url 'employer_search:search_freelancers' %}?job_id={{ e.id }}">Search for Matching Freelancers</a>
		</p>
		{% endif %}
		
	{% endfor %}
{% endblock content %}
