<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.name }}</title>
</head>
<body>
    <a href="{% url 'public:post-item' 'vehicles' 0 %}">Post a Vehicle</a>

    <h1>{{ category.name }}</h1>
    <ul>
        {% for vehicle in category.items %}
            <li>
                <strong>{{ vehicle.title }}</strong><br>
                Price: {{ vehicle.price }}<br>
                Description: {{ vehicle.description }}
            </li>
        {% empty %}
            <li>No vehicles available.</li>
        {% endfor %}
    </ul>


    <a href="/public/">Back to Home</a>
</body>
</html>
