<!-- templates/employer_search/search_freelancers.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Freelancers Matching Your Job Posting</h1>

    {% if freelancers %}
        <ul>
            {% for freelancer in freelancers %}
                <li>
                    <a href="{% url 'freelancer_profile:freelancer_detail' freelancer.id %}">
                        {{ freelancer.first_name }} {{ freelancer.last_name }}
                    </a>
                    <!-- Optional: Display additional information about the freelancer -->
                    <span> - Desired Job Title: {{ freelancer.desired_job_title }}</span>
                    <span> - Location: {{ freelancer.residential_zip_code }}</span>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No freelancers found that match your search criteria.</p>
    {% endif %}

    <a href="{% url 'employer_job:job' %}">Back to Job Posting</a> <!-- Adjust link as necessary -->
{% endblock %}
