{% extends 'base.html' %}
	
{% block content %}
<h1>My Education</h1>
	{% for e in education %}
		<h2>{{ e.school_name }}</h2>
		<small>Published on {{ e.published_at | date:"M d, Y" }} by {{ e.author | title}}</small>
		<p>{{ e.degree_type }}</p>
        <p>{{ e.major }}</p>
        <p>{{ e.year_graduated}}</p>
        <p>{{ e.currently_enrolled }}</p>>
        <p>{{ e.gpa }}</p>
		{% if request.user.is_authenticated and request.user == e.author %}
		<p>
			<a href="{% url 'education-edit' e.id %}">Edit</a> 
			<a href="{% url 'education-delete' e.id%}">Delete</a>
		</p>
		{% endif %}
		
	{% endfor %}
{% endblock content %}