<!-- pro/templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/home-icon.png' %}" alt="Home" width="30" height="30">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'profile' %}">
                            <img src="{% static 'images/profile-icon.png' %}" alt="Profile" title="{{ user.email }}" width="30" height="30">
                        </a>
                    </li>
                    
                    <!-- Check for Freelancer role -->
                    {% if user.settings.role == 'freelancer' %}
                        <li>
                            <p>
                                <a href="{% url 'freelancer_profile:multi-step-edit' 0 %}">Freelancer Profile</a>
                                <a href="{% url 'education' %}">Education</a>
                                <a href="{% url 'freelancer_experience:home' %}">Experience</a>
                            </p>
                        </li>
                    {% endif %}

                    <!-- Check for Employer role -->
                    {% if user.settings.role == 'recruiter' %}
                        <li>
                            <p>
                                <a href="{% url 'employer_profile:profile-edit' %}">Profile</a>
                                <a href="{% url 'employer_job:job' %}">Jobs</a>
                            </p>
                        </li>

                    {% endif %}

                    <a href="{% url 'initialize_settings' %}">
                        <img src="{% static 'images/cog-icon.png' %}" alt="Settings" width="30" height="30">Settings
                    </a>

                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <!-- Show login and register buttons if user is not logged in -->
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
                <li><a href="{% url 'public:index' %}">Public Market</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>

