<!-- /Users/2021sam/apps/zyxe/pro/freelancer_profile/templates/freelancer_profile/employment_type_form.html -->
{% extends 'freelancer_profile/base_multi_step_form.html' %}

{% block extra_head %}
    <style>
        .personal-info { background-color: #f9f9f9; padding: 20px; }
    </style>
{% endblock %}


{% block custom_section %}
    <p>Customize your employment preferences. Please make sure all fields are accurate.</p>
{% endblock custom_section %}


{% block form_content %}
    <div class="personal-info">
        <p>Customize your personal info section here if needed.</p>
        {{ form.as_p }}
    </div>
{% endblock %}
