{% extends 'base.html' %}
	
{% block content %}
<h1>My Skills</h1>
	<a href="{% url 'skill:skill-add' %}">Add</a>
	<a href="{% url 'skill:skill-summarize' %}">Sort</a>


    <form method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

      {% for hidden in formset.hidden_fields %}
          {{ hidden }}
      {% endfor %}

        <table>
            {% for form in formset %}
                <tr><td>{{ form.id.errors }} {{ form.id }}</td><td>{{ form.experience.errors }} {{ form.experience }}</td><td>{{ form.skill.errors }} {{ form.skill }}</td><td>{{ form.skill_years.errors }} {{ form.skill_years }}</td><td>{{ form.skill_months.errors }} {{ form.skill_months }}</td></tr>
            {% endfor %}
        </table>
        <input type="submit">
    </form>


{% endblock content %}
