{% extends 'base.html' %}
	
{% block content %}
<h1>My Skills</h1>
	<a href="{% url 'skill:skill-add' %}">Add</a>
	<a href="{% url 'skill:skill-summarize' %}">Sort</a>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tr><td>{{ form.experience }}</td><td>{{ form.skill }}</td><td>{{ form.skill_years }}</td><td>{{ form.skill_months }}</td></tr>
            {% endfor %}
        </table>
        <input type="submit">
    </form>


{% endblock content %}
