{% extends 'base_hx.html' %}
<!-- https://stackoverflow.com/questions/25345392/how-to-add-url-parameters-to-django-template-url-tag -->

{% block content %}

<script>
    // var experience = document.getElementById("id_experience");
    // console.log(experience)
    // window.onload=function()
    // {
    //   experience.focus();
    //   alert("experience");
    // }


  function doit(form)
  {
    var i = 1;
    if (form.length == 7)
      i++;

    var id = form[i].value;
    var id_experience = form[++i].value;
    var skill = form[++i].value;
    var skill_years = form[++i].value;
    var skill_months = form[++i].value;
    console.log('id: ' + id );
    console.log('id_experience: ' + id_experience );
    console.log('skill: ' + skill );
    console.log('skill_years: ' + skill_years );
    console.log('skill_months: ' + skill_months );

    if ( id_experience == 0 || skill.length == 0 || ( skill_years == 0 && skill_months == 0 ))
    {
      console.log('Disable button');
      document.getElementById('console').value = 'Missing elements';
      return;
    }
    else
    {
      // form[6].disabled = false;
      console.log('Enable button');
    }

    var change = false;
    if (id_experience != document.getElementById('save_id_experience').value)
      change = true;

    if (skill != document.getElementById('save_skill').value)
    {change = true;}

    if (skill_years != document.getElementById('save_skill_years').value)
    {change = true;}

    if (skill_months != document.getElementById('save_skill_months').value)
    {change = true;}

    if (change)
    {
      console.log('You made a change !');
      document.getElementById('console').value = 'You made a change !';
      form.submit();
    }    
    else
    {
      console.log('No change');
      document.getElementById('console').value = 'No change !';
    }
  }


  function dosave(form)
  {
    console.log(form.length);
    // document.getElementById('console').value = 'form.length = ' + form.length;
    //  form[0].value = csrf token = msZX1lvMryqD2spz4ncfzgnG2Zo6FushPuaK48ogWu3IA7x6fVGd0pCA3RCo1jvv
    //  form.length = 6 for formset
    //  form.length = 5 for additional dynamically added empty forms
    var i = 1;
    if (form.length == 7)
      i++;
    var id = form[i].value;
    var id_experience = form[++i].value;
    var skill = form[++i].value;
    var skill_years = form[++i].value;
    var skill_months = form[++i].value;
    console.log('id: ' + id );
    console.log('id_experience: ' + id_experience );
    console.log('skill: ' + skill );
    console.log('skill_years: ' + skill_years );
    console.log('skill_months: ' + skill_months );
    document.getElementById('save_id').value = id;
    document.getElementById('save_id_experience').value = id_experience;
    document.getElementById('save_skill').value = skill;
    document.getElementById('save_skill_years').value = skill_years;
    document.getElementById('save_skill_months').value = skill_months;
  }
</script>


<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>


<h1>My Skills</h1>
	<a href="{% url 'skill:skill-add' %}">Add</a>
      <div class="main-container">
        <div class="table-container">
          <div class="table-row heading">
            <div class="row-item-1">Action</div>
            <div class="row-item-2">Experience</div>
            <div class="row-item-3">Skill</div>
            <div class="row-item-4">Years</div>
            <div class="row-item-4">Months</div>
          </div>
          {% for form in formset %}
            <!-- Remove this if because we will always set modelformset extra=0 -->
            <!-- extra will be done manually here -->
            {% if form.id.value %}
              <form id='sam' method="POST" onfocusin="dosave(this)" onfocusout="doit(this)" action="{% url 'skill:skill-edit-hx' %}" target="dummyframe" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="table-row" id="delete-row">
                  <div class="row-item-1">
                      <button class="btn btn-danger" hx-delete="{% url 'skill:hx-skill-delete' form.id.value %}"
                      hx-target="closest #delete-row" hx-swap="outerHTML swap:1s">
                          Delete {{ form.id.value }}
                      </button>
                      {{ form.id }}
                  </div>
                  <div class="row-item-2">{{ form.experience.errors }} {{ form.experience }}</div>
                  <div class="row-item-3">{{ form.skill.errors }} {{ form.skill }}</div>
                  <div class="row-item-4">{{ form.skill_years }}</div>
                  <div class="row-item-4">{{ form.skill_months }}</div>
                </div>
              </form>
            {% endif %}
          {% endfor %}
          </div>
        </div>


      <div class="main-container">
        <div class="table-container" id="extra">
          <form id='sam2' method="POST" onfocusin="dosave(this)" onfocusout="doit(this)" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="table-row" id="delete-row">
                <div class="row-item-1">
                    <input id="id" name="id" type="hidden" value="0" size="1">
                </div>
              <div class="row-item-2">{{ skillform.experience }}</div>
              <div class="row-item-3">{{ skillform.skill }}</div>
              <div class="row-item-4">{{ skillform.skill_years }}</div>
              <div class="row-item-4">{{ skillform.skill_months }}</div>
            </div>
        </form>
        </div>
      </div>


<input id="save_id" type="text">
<input id="save_id_experience" type="text">
<input id="save_skill" type="text">
<input id="save_skill_years" type="text">
<input id="save_skill_months" type="text">
<input id="console" type="text">
{% endblock content %}
